*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.tripleHorizBorder::before{
    content:"";
    position:absolute;
    top:44px;
    border-bottom: 3px solid rgb(184, 22, 22);
    width:100%;
}

.tripleHorizBorder{
    position: relative;
}

.tripleHorizBorder::after{
    content:"";
    position:absolute;
    top:50px;
    border-bottom: 3px solid blue;
    width:100%;
}

.tripleVerticalBorder::before{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    border-left: 3px solid white;
    height:90px;
    z-index:4;
    border-radius: 2px;
}

.tripleVerticalBorder{
    position:relative;
    top:-65px;
    border-left: 3px solid rgb(184, 22, 22);
    height:86px;
    z-index:4;
    border-radius: 2px;
    transform:rotate(-30deg);
}

.tripleVerticalBorder::after{
    content:"";
    position:absolute;
    top:0px;
    left:3px;
    border-left: 3px solid blue;
    height:94px;
    z-index:4;
    border-radius: 2px;
}

.headerIMG{
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(0, 0, 0, 0.179), rgba(0, 0, 0, 0.604)), url(./img/header.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.serifFont{
    font-family: 'Source Serif Pro', serif;
}

.bgCard{
    background-color: rgb(230, 230, 230);
}


.vh-75{
    height: 75vh;
}
.vh-50{
    height: 50vh;
}
.vh-25{
    height: 25vh;
}

.circular-border{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 4px solid darkred;
    width: 120px;
    height: 120px;
    overflow: hidden; 
}
.photoMember{
    top:6px;
    left:5px;
    position:absolute; 
}

.fadeThatCard{
    animation: fadeThatCard 2s ease-out;
}
@keyframes fadeThatCard{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


.londonCITY{
    background: url(./img/london.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:100;
}

.queenLOGO{
    top:0px;
    z-index:-100;
}

.fadeIN{
    animation: fadeIN 10s ease-out;
}
@keyframes fadeIN{
    0%{
        opacity:0;
        scale:2.5;
        z-index:-100;
    }
    100%{
        opacity:1;
        scale:1;
        z-index:-100;
    }
}

.bg-DARK{
    background-color: black;
}

.btn-darkred{
    background-color:darkred;
}



















@media screen and (min-width: 992px){
    .bigbenIMG {
        height:115vh
    }
}
@media screen and (min-width: 1024px){
    .bigbenIMG {
        height:67vh
    }
}
@media screen and (min-width: 1200px){
    .bigbenIMG {
        height:100vh
    }
}
@media screen and (min-width: 1280px){
    .bigbenIMG {
        height:105vh
    }
}
@media screen and (min-width: 1440px){
    .bigbenIMG {
        height:100vh
    }
}
